@tailwind base;
@tailwind components;
@tailwind utilities;

.slide {
    opacity: 0;
    z-index: 0;
    display: flex;
}
.slide.active {
    opacity: 1;
    z-index: 10;
    transform: translateX(0);
    transition: all 0.7s;
}
